<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_ocrRealTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <_ocrRealTime.Properties.Settings>
      <setting name="cameraIP" serializeAs="String">
        <value>192.168.1.253</value>
      </setting>
      <setting name="rtspPath" serializeAs="String">
        <value>rtsp://admin:123456@192.168.1.253:43794</value>
      </setting>
      <setting name="scaleWidth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="scaleHeight" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="rectWidth" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="rectHeight" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="rectTop" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="rectLeft" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="stdValue" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="tolerance" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="telnetuser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="telnetpass" serializeAs="String">
        <value>vnpt@123</value>
      </setting>
    </_ocrRealTime.Properties.Settings>
  </userSettings>
</configuration>